In [7]:
import pandas as pd
from pymongo import MongoClient
import json, requests
import os
from dotenv import load_dotenv
load_dotenv()
import requests
from pandas.io.json import json_normalize

In [8]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

In [17]:
df = db.companies.find({'$or': [{ 'category_code':'games_video'} ,
                                {'category_code':'software'},
                                {'category_code':'design'}]})

In [19]:
a = list(db.companies.aggregate([{"$unwind":"$offices"},{"$project":{"offices":1,"name":1,"category_code":1}}]))

In [20]:
df = pd.DataFrame(json_normalize(df))
df.head()

<ipython-input-20-25e9f285cbc3>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = pd.DataFrame(json_normalize(df))

AttributeError: 'str' object has no attribute 'values'

In [22]:
df.drop(['offices.description', 'offices.address1','offices.address2'], axis=1)

,_id,name,category_code,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,94588,Pleasanton,CA,USA,37.692934,-121.904945
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,98104,Seattle,WA,USA,47.603122,-122.333253
2,52cdef7c4bab8bd675297d8a,Wetpaint,web,10012,New York,NY,USA,40.723731,-73.996431
3,52cdef7c4bab8bd675297d8c,Zoho,software,94588,Pleasanton,CA,USA,37.692934,-121.904945
4,52cdef7c4bab8bd675297d8d,Digg,news,94107,San Francisco,CA,USA,37.764726,-122.394523
...,...,...,...,...,...,...,...,...,...
16700,52cdef7f4bab8bd67529c6f5,Oriact,software,6403,KÃ¼ssnacht,None,CHE,47.088219,8.437163
16701,52cdef7f4bab8bd67529c6f7,AfterLogic,software,07039,Livingston,NJ,USA,40.793024,-74.323554
16702,52cdef7f4bab8bd67529c6fa,EnteGreat,enterprise,35243-4204,Birmingham,AL,USA,33.407786,-86.761302
16703,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,software,,Birmingham,AL,USA,33.518885,-86.816068
16704,52cdef7f4bab8bd67529c6f6,Adhunk,advertising,334003,Bikaner,None,IND,NaN,NaN

In [7]:
df['category_code'].value_counts()

web                 3079
software            3043
mobile              1105
advertising         1049
games_video          956
other                899
enterprise           858
consulting           710
ecommerce            623
network_hosting      583
public_relations     515
hardware             438
search               389
biotech              367
cleantech            327
security             181
semiconductor        175
analytics             93
finance               66
news                  61
social                60
music                 49
messaging             47
legal                 47
education             39
photo_video           29
travel                29
health                28
medical               27
manufacturing         22
transportation        16
hospitality           14
sports                13
automotive            11
fashion               10
real_estate            9
design                 6
nanotech               5
nonprofit              3
local                  1
government             1
Name: category_code, dtype: int64

In [8]:
df.dropna()

,_id,name,category_code,offices.description,offices.address1,offices.address2,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
2,52cdef7c4bab8bd675297d8a,Wetpaint,web,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
3,52cdef7c4bab8bd675297d8c,Zoho,software,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
7,52cdef7c4bab8bd675297d91,Geni,web,Headquarters,9229 W. Sunset Blvd.,,90069,West Hollywood,CA,USA,34.090368,-118.393064
...,...,...,...,...,...,...,...,...,...,...,...,...
16698,52cdef7f4bab8bd67529c6f3,QSGI,software,,400 Royal Palm Way,,33480,Palm Beach,FL,USA,26.705331,-80.041395
16699,52cdef7f4bab8bd67529c6f2,Contemporary Computer Services,software,,200 Knickerbocker Avenue,,11716,Bohemia,NY,USA,40.775055,-73.088140
16701,52cdef7f4bab8bd67529c6f7,AfterLogic,software,Livingston,P.O. Box 2096,,07039,Livingston,NJ,USA,40.793024,-74.323554
16702,52cdef7f4bab8bd67529c6fa,EnteGreat,enterprise,,1900 International Park Drive,Suite 200,35243-4204,Birmingham,AL,USA,33.407786,-86.761302
16703,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,software,,,,,Birmingham,AL,USA,33.518885,-86.816068

In [28]:
df_game = df.drop(df[(df.category_code != 'games_video') & (df.category_code != 'software')& (df.category_code != 'design')].index)

In [29]:
df_game['category_code'].value_counts()

software       3043
games_video     956
design            6
Name: category_code, dtype: int64

In [30]:
df_game.dropna()
df_game.reset_index()

,index,_id,name,category_code,offices.description,offices.address1,offices.address2,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,3,52cdef7c4bab8bd675297d8c,Zoho,software,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
1,6,52cdef7c4bab8bd675297d92,Flektor,games_video,None,"8536 National Blvd, Suite A",None,90232,Culver City,CA,USA,34.025958,-118.379768
2,16,52cdef7c4bab8bd675297d99,Lala,games_video,Lala Headquarters,209 Hamilton Ave,Suite #200,94301,Palo Alto,CA,USA,37.451151,-122.154369
3,19,52cdef7c4bab8bd675297d9d,Joost,games_video,,100 5th Ave Fl 6,,10011-6903,New York,NY,USA,40.746497,-74.009447
4,24,52cdef7c4bab8bd675297da0,Babelgum,games_video,,,,,London,None,GBR,53.344104,-6.267494
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,16698,52cdef7f4bab8bd67529c6f3,QSGI,software,,400 Royal Palm Way,,33480,Palm Beach,FL,USA,26.705331,-80.041395
4001,16699,52cdef7f4bab8bd67529c6f2,Contemporary Computer Services,software,,200 Knickerbocker Avenue,,11716,Bohemia,NY,USA,40.775055,-73.088140
4002,16700,52cdef7f4bab8bd67529c6f5,Oriact,software,,LÃ¤rchenweg 7,,6403,KÃ¼ssnacht,None,CHE,47.088219,8.437163
4003,16701,52cdef7f4bab8bd67529c6f7,AfterLogic,software,Livingston,P.O. Box 2096,,07039,Livingston,NJ,USA,40.793024,-74.323554
4004,16703,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,software,,,,,Birmingham,AL,USA,33.518885,-86.816068

In [31]:
df_game= df_game.drop('_id', axis=1)

In [32]:
df_game.to_json("input/companies_needs.json",orient="records")

#tableau: https://public.tableau.com/profile/albert8801#!/vizhome/gaminganddesigncompanies/Hoja1?publish=yes
#Germany news: [Web Scraping] https://siliconcanals.com/news/most-startup-friendly-countries-in-2020/