In [1]:
import pandas as pd
from pymongo import MongoClient
import json, requests
import os
from dotenv import load_dotenv
load_dotenv()
import requests
from pandas.io.json import json_normalize

In [2]:

def getapi(search):
    url = 'https://api.foursquare.com/v2/venues/explore'

    params = dict(
    client_id=os.getenv('Client_ID'),
    client_secret=os.getenv('Client_Sc'),
    v='20180323',
    ll='37.795531,-122.400598',
    query=search,
    limit=1
    )
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    
    df_api = pd.DataFrame([{
        'Query' : data['response']['query'],
        'Total Results' : data['response']['totalResults'],
        'Name': data['response']['groups'][0]['items'][0]['venue']['name'],
        'Distance' :data['response']['groups'][0]['items'][0]['venue']['location']['distance'],
        'Address': data['response']['groups'][0]['items'][0]['venue']['location']['formattedAddress'][0],
        'Postal Code':data['response']['groups'][0]['items'][0]['venue']['location']['postalCode'],
        'Latitude' : data['response']['suggestedBounds']['ne']['lat'],
        'longitude' : data['response']['suggestedBounds']['ne']['lng']
        
        
        
    }])
    
    return df_api

In [3]:
df1 = getapi('School')
df1

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,school,119,Product School,183,415 Jackson St. Suite B (The Vault - Product S...,94111,37.797885,-122.400901

In [4]:
df2 = getapi('Starbucks')
df2

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,starbucks,52,Starbucks,174,398 Market St (Front St),94111,37.795749,-122.397875

In [5]:
df3 = getapi('airport')
df3

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,airport,63,San Francisco International Airport (SFO) (San...,19941,N McDonnell Rd (at Link Rd),94128,37.618063,-122.38574

In [6]:
df4 = getapi('veganfood')
df4

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,veganfood,1,Sunny Vibrations Vegan Food Truck,4756,3849 20th St. (btwn Dolores & Church),94114,37.759512,-122.425471

In [7]:
df5 = getapi('night club')
df5

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,night club,24,Love + Propaganda,928,85 Campton Pl (Stockton),94108,37.790188,-122.405537

In [8]:
df6= getapi('starus ps')
df6

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,starus ps,12,Psoas Massage and Bodywork,1339,333 3rd St Ste 205 (at Folsom St),94107,37.784942,-122.397313

In [9]:
result = pd.concat([df1, df2, df3,df4,df5,df6], ignore_index=True)
result

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,school,119,Product School,183,415 Jackson St. Suite B (The Vault - Product S...,94111,37.797885,-122.400901
1,starbucks,52,Starbucks,174,398 Market St (Front St),94111,37.795749,-122.397875
2,airport,63,San Francisco International Airport (SFO) (San...,19941,N McDonnell Rd (at Link Rd),94128,37.618063,-122.385740
3,veganfood,1,Sunny Vibrations Vegan Food Truck,4756,3849 20th St. (btwn Dolores & Church),94114,37.759512,-122.425471
4,night club,24,Love + Propaganda,928,85 Campton Pl (Stockton),94108,37.790188,-122.405537
5,starus ps,12,Psoas Massage and Bodywork,1339,333 3rd St Ste 205 (at Folsom St),94107,37.784942,-122.397313

In [10]:
result['Distance'] = result['Distance'].apply(lambda x: str(x) + ' miters')

In [11]:
result

,Query,Total Results,Name,Distance,Address,Postal Code,Latitude,longitude
0,school,119,Product School,183 miters,415 Jackson St. Suite B (The Vault - Product S...,94111,37.797885,-122.400901
1,starbucks,52,Starbucks,174 miters,398 Market St (Front St),94111,37.795749,-122.397875
2,airport,63,San Francisco International Airport (SFO) (San...,19941 miters,N McDonnell Rd (at Link Rd),94128,37.618063,-122.385740
3,veganfood,1,Sunny Vibrations Vegan Food Truck,4756 miters,3849 20th St. (btwn Dolores & Church),94114,37.759512,-122.425471
4,night club,24,Love + Propaganda,928 miters,85 Campton Pl (Stockton),94108,37.790188,-122.405537
5,starus ps,12,Psoas Massage and Bodywork,1339 miters,333 3rd St Ste 205 (at Folsom St),94107,37.784942,-122.397313

In [12]:
result.to_json("input/employee_needs.json",orient="records")