In [1]:
import pandas as pd
from pymongo import MongoClient
import json, requests
import os
from dotenv import load_dotenv
load_dotenv()
import requests
from pandas.io.json import json_normalize

In [2]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

In [14]:
data = list(db.companies.aggregate([{"$unwind":"$offices"},{"$project":{"offices":1,"name":1,"category_code":1,'founded_year':1}}]))

data = db.companies.find({'$and': 
                        [ {'deadpooled_year':None}, 
                          {'founded_year': {'$gt':2010}},
                          
                          {'$or': [{'category_code':'games_video'},
                                   {'category_code':'software'},
                                   {'category_code': 'design'}]

                           
                        }]}
                        , {'name':1 , 'category_code':1, 'number_of_employees':1, 'founded_year':1, 
                           "offices.city":1, "offices.country_code":1, "offices.latitude":1, "offices.longitude":1,'_id':0}
                        ).sort('number_of_employees', -1)

In [15]:
data = pd.DataFrame(data)

In [20]:
data = data.explode("offices")
data

,name,category_code,number_of_employees,founded_year,offices
0,Social Gaming Network,games_video,100.0,2011,"{'city': 'Los Angeles', 'country_code': 'USA',..."
0,Social Gaming Network,games_video,100.0,2011,"{'city': 'Beverly Hills', 'country_code': 'USA..."
1,Navara,software,80.0,2012,"{'city': 'Maarssen', 'country_code': 'NLD', 'l..."
2,Unison Technologies,software,30.0,2011,"{'city': 'New York', 'country_code': 'USA', 'l..."
3,Simplicant,software,10.0,2012,"{'city': 'Palo Alto', 'country_code': 'USA', '..."
4,Pixelmatic,games_video,10.0,2011,"{'city': 'Vancouver', 'country_code': 'CAN', '..."
4,Pixelmatic,games_video,10.0,2011,"{'city': 'Shanghai', 'country_code': 'CHN', 'l..."
5,Fuzz,games_video,6.0,2011,"{'city': 'Santa Clara', 'country_code': 'USA',..."
6,Molecube,games_video,6.0,2011,"{'city': 'Quebec', 'country_code': 'CAN', 'lat..."
7,Carfeine,software,5.0,2012,"{'city': 'Bethesda', 'country_code': 'USA', 'l..."
8,FamilyDen,software,5.0,2011,NaN
9,Hayen Company,games_video,1.0,2011,"{'city': 'Columbia', 'country_code': 'USA', 'l..."
10,Streamzy,games_video,NaN,2011,NaN
11,Mousebreaker,games_video,NaN,2011,"{'city': 'Hilton', 'country_code': 'GBR', 'lat..."
12,Kidos,games_video,NaN,2011,"{'city': 'New York', 'country_code': 'USA', 'l..."
12,Kidos,games_video,NaN,2011,"{'city': 'Brooklyn', 'country_code': 'USA', 'l..."
13,Kidos,games_video,NaN,2011,"{'city': 'New York', 'country_code': 'USA', 'l..."
13,Kidos,games_video,NaN,2011,"{'city': 'Brooklyn', 'country_code': 'USA', 'l..."
14,VisualOn,software,NaN,2011,"{'city': 'Santa Clara', 'country_code': 'USA',..."
15,Veewow,software,NaN,2012,"{'city': 'Daresbury', 'country_code': 'GBR', '..."

In [26]:
data['offices'].value_counts()

TypeError: unhashable type: 'dict'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'dict'

{'city': 'Brooklyn', 'country_code': 'USA', 'latitude': 40.714056, 'longitude': -73.957854}            2
{'city': 'New York', 'country_code': 'USA', 'latitude': 40.768058, 'longitude': -73.956599}            2
{'city': 'Santa Clara', 'country_code': 'USA', 'latitude': 37.760524, 'longitude': -122.387799}        1
{'city': 'Hilton', 'country_code': 'GBR', 'latitude': None, 'longitude': None}                         1
{'city': 'New York', 'country_code': 'USA', 'latitude': 40.7645772, 'longitude': -73.9799007}          1
{'city': 'Los Angeles', 'country_code': 'USA', 'latitude': 37.446823, 'longitude': -122.161523}        1
{'city': 'Beverly Hills', 'country_code': 'USA', 'latitude': 34.0698494, 'longitude': -118.4054182}    1
{'city': 'Shanghai', 'country_code': 'CHN', 'latitude': None, 'longitude': None}                       1
{'city': 'Palo Alto', 'country_code': 'USA', 'latitude': None, 'longitude': None}                      1
{'city': 'Vancouver', 'country_code': 'CAN', 'latitude': 49.263588, 'longitude': -123.138565}          1
{'city': 'Quebec', 'country_code': 'CAN', 'latitude': None, 'longitude': None}                         1
{'city': 'Daresbury', 'country_code': 'GBR', 'latitude': None, 'longitude': None}                      1
{'city': 'Maarssen', 'country_code': 'NLD', 'latitude': 52.126616, 'longitude': 5.038078}              1
{'city': 'Bethesda', 'country_code': 'USA', 'latitude': 38.989124, 'longitude': -77.026676}            1
{'city': 'Columbia', 'country_code': 'USA', 'latitude': 34.019114, 'longitude': -81.004871}            1
{'city': 'Santa Clara', 'country_code': 'USA', 'latitude': 37.270518, 'longitude': -121.955879}        1
Name: offices, dtype: int64

In [13]:
df['category_code'].value_counts()

web                 3079
software            3043
mobile              1105
advertising         1049
games_video          956
other                899
enterprise           858
consulting           710
ecommerce            623
network_hosting      583
public_relations     515
hardware             438
search               389
biotech              367
cleantech            327
security             181
semiconductor        175
analytics             93
finance               66
news                  61
social                60
music                 49
legal                 47
messaging             47
education             39
travel                29
photo_video           29
health                28
medical               27
manufacturing         22
transportation        16
hospitality           14
sports                13
automotive            11
fashion               10
real_estate            9
design                 6
nanotech               5
nonprofit              3
government             1
local                  1
Name: category_code, dtype: int64

In [9]:
def getapi(queryparams=dict()):
    url = f'https://api.foursquare.com/v2/venues/explore/'
    params = queryparams
    resp = requests.get(url, params=queryparams)
    print(resp)
    data = json.loads(resp.text)
    return data
queryparams = {
    "client_id" : os.getenv('Client_ID'),
    "client_secret" :os.getenv('Client_Sc'),
    "near" : 'Chicago',
    "query" : "Starbucks",
    "limit": "1"
   }

In [10]:
getapi()

<Response [400]>

{'meta': {'code': 400,
  'errorType': 'invalid_auth',
  'errorDetail': 'Missing access credentials. See https://developer.foursquare.com/docs/api/configuration/authentication for details.',
  'requestId': '5e9b1f0a5fb726001ba519af'},
 'response': {}}