In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
res = requests.get("https://www.northeastern.edu/graduate/blog/tech-companies-san-francisco-bay-area/")

In [16]:
res.text
soup = BeautifulSoup(res.text)

In [17]:
soup.title.text

'5 Top Tech Companies to Work For in the San Francisco Bay Area'

In [18]:
tables = soup.find_all("h3")

In [21]:
def getcompanies(tables):
    return {
        'Top 1': tables[0].text,
        'Top 2': tables[1].text,
        'Top 3':tables[2].text,
        'Top 4': tables[3].text,
        'Top 5':tables[4].text
    }

In [24]:
getcompanies(tables)

{'Top 1': '1. Salesforce',
 'Top 2': '2. NVIDIA',
 'Top 3': '3. Adobe',
 'Top 4': '4. Atlassian',
 'Top 5': '5. Eventbrite'}

In [7]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_companies_based_in_San_Francisco")

In [8]:
res.text
soup = BeautifulSoup(res.text)

In [9]:
soup.title.text

'List of companies based in San Francisco - Wikipedia'

In [10]:
tables = soup.select(".mw-headline")
tables[1]

In [11]:
tables = soup.select("li")
tables[34].text

'140 Proof'

In [12]:
name = soup.select(".mw-headline")
comp = soup.select("li")

In [13]:
def scrap():
    name = soup.select(".mw-headline")
    comp = soup.select("li")

    return {
        name[1].text : [comp[34].text,comp[35].text,comp[36].text,comp[37].text,comp[38].text,comp[39].text],
        name[2].text : [comp[40].text,comp[41].text,'-','-','-','-'],
        name[3].text : [comp[42].text,comp[43].text,comp[44].text,comp[45].text,comp[46].text,comp[47].text],
        name[4].text : [comp[48].text,comp[49].text,comp[50].text,'-','-','-'],
        name[5].text : [comp[51].text,'-','-','-','-','-'],
        name[6].text : [comp[52].text,comp[53].text,'-','-','-','-']
    }

In [14]:

companies_in_SF = pd.DataFrame(scrap())
companies_in_SF

,Advertising,Automotive,Banks,Beverages (alcoholic),Beverages (non-alcoholic),Broadcasting and cable TV
0,140 Proof,Traction,Otto (company),Wells Fargo,Speakeasy Ales and Lagers,Adina World Beat Beverages
1,AKQA,Cruise Automation,Bank of the Orient,Anchor Brewing Company,-,Northern California Public Broadcasting
2,Duncan/Channon,-,Bank of the West (BancWest),SKYY Spirits,-,-
3,"Goodby, Silverstein & Partners",-,Charles Schwab,-,-,-
4,Landor Associates,-,First Republic Bank,-,-,-
5,Mullen,-,UnionBanCal Corporation,-,-,-